<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="container">
        <div class="row mt-5 text-center">
            <div class="col">
                <h1>Verify your phone number</h1>
            </div>
        </div>
        {% if display_error %}
        <div class="row text-center">
            <div class="col">
                <h2 class="text-danger">Verify failed, please try again.</h2>
            </div>
        </div>
        {% endif %}
        <form action="/verify" method="POST" class="form-inline justify-content-center">
            <label for="token" class="mr-4">Enter the token you recieved on your device</label>
            <input type="text" name="token" class="form-control mr-4"/>
            <button action="submit" class="btn btn-primary">Verify</button>
        </form>
    </body>
</html>